@use "base/variables" as v;
@use "base/mixins" as m;

.listado-servicios{
    @include m.grid(2, 2rem);

    .servicio {
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
        transition: transform 400ms ease;

        &:hover {
            transform: scale(1.1);
        }

        p {
            color: v.$negro;
            font-weight: v.$regular;
            margin: 0 0 1rem 0;
        }

        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            margin: 0;
        }
    }
}