@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  @include m.tablet{
    grid-template-columns: 1fr;
  }
    .imagen {
        background-image: url("../img/1.webp");
        background-size: cover;
        background-position: center;
        overflow-y: auto;
    }
    
    .app{
      width: 100%;
      margin: 0 auto;
      padding: 3rem 1.5rem;
      overflow-y: scroll;
      
      &::-webkit-scrollbar {
        width: 0.9rem;
      }

      &::-webkit-scrollbar-thumb {
          background-color: rgba(255,255,255, .4);
          border-radius: 5px;
      }
    }
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    width: max-content;
  }
}
